[alias]
  co = checkout
  ci = commit
  br = branch
  st = status -s
  ff = merge --ff-only
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  changelog = log --pretty=format:\" * %s\"
  sg = diff --staged
  staged = diff --staged
  nb = checkout -b
  newbranch = checkout -b
  submodule-rm = !git-submodule-rm
  amend = commit --amend
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
[github]
  user = barraponto
[help]
  autocorrect = 20
[push]
  default = current
[receive]
  denyNonFastForwards = true
[user]
  name = Capi Etheriel
  email = barraponto@gmail.com
[url "http://git.drupal.org/project/"]
  insteadOf = drupal://
[url "http://git.drupal.org/sandbox/"]
  insteadOf = drupalsand://
