[alias]
  co = checkout
  ci = commit
  br = branch
  st = status --short
  ff = merge --ff-only
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  changelog = log --pretty=format:\" * %s\"
  sg = diff --staged
  staged = diff --staged
  nb = checkout -b
  newbranch = checkout -b
  amend = commit --amend
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
# gitproxy at https://gist.github.com/2d25bf3ab13b6ac3bdbf
# gitproxy = gitproxy
[github]
  user = barraponto
[help]
  autocorrect = 20
[push]
  default = current
[receive]
  denyNonFastForwards = true
[user]
  name = Capi Etheriel
  email = barraponto@gmail.com
[url "http://git.drupal.org/project/"]
  insteadOf = drupal://
[url "http://git.drupal.org/sandbox/"]
  insteadOf = drupalsand://
# [http]
# proxy = http://localhost:1234
[pager]
  # support https://github.com/so-fancy/diff-so-fancy
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
