[alias]
  co = checkout
  ci = commit
  br = branch
  st = status --short
  ff = merge --ff-only
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  changelog = log --pretty=format:\" * %s\"
  sg = diff --staged
  staged = diff --staged
  nb = checkout -b
  newbranch = checkout -b
  amend = commit --amend
  cz = !npx git-cz
  aside = "!git stash push -m $1 #"
  back = "!git stash apply $(git stash list | grep '$1' | cut -d: -f1); #"
[color]
  ui = auto
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
  pager = delta
[delta]
  hyperlinks = true
  line-numbers = true
  light = false
  navigate = true
[diff]
  colorMoved = default
[github]
  user = barraponto
[gpg]
  program = gpg
[help]
  autocorrect = 20
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[push]
  default = current
[receive]
  denyNonFastForwards = true
[user]
  name = Capi Etheriel
  email = barraponto@gmail.com
  signingkey = 759F25E8F0AAE9D1
