"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
  "exception-reporting":
    userId: "cedfe6a7-a232-4daa-b028-c31e3c473d2b"
  "linter-eslint":
    autofix:
      fixOnSave: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
    prettierEslintOptions: {}
    prettierOptions:
      bracketSpacing: false
      semi: false
    useEditorConfig: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
